<footer class="form-footer standard-form">
  <button type="button" data-action="add-list">
    <i class="fa-solid fa-plus"></i> {{localize "Add New List"}}
  </button>
  <button type="submit">
    <i class="fas fa-save"></i>
    <label>{{localize "Save"}}</label>
  </button>
  <button type="button" data-action="reset-defaults">
    <i class="fa-solid fa-arrow-rotate-left" inert=""></i> {{localize "Reset Defaults"}}
  </button>
</footer>