<footer>
  {{formField fields.label value=source.label localize=true hint="" placeholder="Label..."}}
  
  <button class="fb-25" type="submit">Save Changes</button>
  
  {{#if hasGlobal}}
    <label class="fb-25"><i>{{#if source.link}}Linked to Global{{else}}Unlinked from Global{{/if}}</i></label>
  {{/if}}
</footer>