<header class="d-flex flex-row justify-content-evenly align-center pb-2 mb-2" style="border-bottom: 1px solid var(--border-theme-color);">
  <input class="fb-35" style="align-self: center;" name="filter" type="search" placeholder="Filter" value="">
  <button type="button" class="import-button fb-35" data-action="import" style="min-width: 130px;"><i class="fas fa-upload"></i>Import Config</button>
</header>